header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid lightgray;
  background: white;
  vertical-align: text-bottom;
}

.vertical-center {
  text-align: center;
}
.icons {
  vertical-align: text-bottom;
  cursor: pointer;
}
